# Dependency directories
node_modules/
**/node_modules/
# */node_modules/

# Build outputs
dist/
**/dist/
build/
coverage/

# Env & secrets
.env
.env.*
.DS_Store
influxdb-data/

# Logs & diagnostics
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS artifacts
.DS_Store
.vscode/
.idea/

# Tool caches
.eslintcache
.turbo
.parcel-cache
.vite
